
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div data-ng-controller ="indexViewModel">
    <h2>Index</h2>

    Welcome to MVC Angular.js spike.
    <p>{{topic}}</p>
    <p>{{author}}</p>

</div>
